{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "title": "SchedulerManagementClient",
        "version": "2016-03-01",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/scheduler/resource-manager/Microsoft.Scheduler/stable/2016-03-01/scheduler.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "scheduler",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.Scheduler/jobCollections": {
            "get": {
                "description": "Gets all job collections under specified subscription.",
                "operationId": "JobCollections_ListBySubscription",
                "parameters": [
                    {
                        "description": "The subscription id.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The job collections have been successfully returned.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "nextLink": {
                                            "description": "Gets or sets the URL to get the next set of job collections.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "Gets the job collections.",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "description": "Gets the job collection resource identifier.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "location": {
                                                        "description": "Gets or sets the storage account location.",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "Gets or sets the job collection resource name.",
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "description": "Gets or sets the job collection properties.",
                                                        "properties": {
                                                            "quota": {
                                                                "description": "Gets or sets the job collection quota.",
                                                                "properties": {
                                                                    "maxJobCount": {
                                                                        "description": "Gets or set the maximum job count.",
                                                                        "type": "integer"
                                                                    },
                                                                    "maxJobOccurrence": {
                                                                        "description": "Gets or sets the maximum job occurrence.",
                                                                        "type": "integer"
                                                                    },
                                                                    "maxRecurrence": {
                                                                        "description": "Gets or set the maximum recurrence.",
                                                                        "properties": {
                                                                            "frequency": {
                                                                                "description": "Gets or sets the frequency of recurrence (second, minute, hour, day, week, month).",
                                                                                "enum": [
                                                                                    "Minute",
                                                                                    "Hour",
                                                                                    "Day",
                                                                                    "Week",
                                                                                    "Month"
                                                                                ],
                                                                                "type": "string",
                                                                                "x-ms-enum": {
                                                                                    "modelAsString": false,
                                                                                    "name": "RecurrenceFrequency"
                                                                                }
                                                                            },
                                                                            "interval": {
                                                                                "description": "Gets or sets the interval between retries.",
                                                                                "type": "integer"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "sku": {
                                                                "description": "Gets or sets the SKU.",
                                                                "properties": {
                                                                    "name": {
                                                                        "description": "Gets or set the SKU.",
                                                                        "enum": [
                                                                            "Standard",
                                                                            "Free",
                                                                            "P10Premium",
                                                                            "P20Premium"
                                                                        ],
                                                                        "type": "string",
                                                                        "x-ms-enum": {
                                                                            "modelAsString": false,
                                                                            "name": "SkuDefinition"
                                                                        }
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "state": {
                                                                "description": "Gets or sets the state.",
                                                                "enum": [
                                                                    "Enabled",
                                                                    "Disabled",
                                                                    "Suspended",
                                                                    "Deleted"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": false,
                                                                    "name": "JobCollectionState"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "tags": {
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        },
                                                        "description": "Gets or sets the tags.",
                                                        "type": "object"
                                                    },
                                                    "type": {
                                                        "description": "Gets the job collection resource type.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "readOnly": true,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "properties": {
                                        "nextLink": {
                                            "description": "Gets or sets the URL to get the next set of job collections.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "Gets the job collections.",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "description": "Gets the job collection resource identifier.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "location": {
                                                        "description": "Gets or sets the storage account location.",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "Gets or sets the job collection resource name.",
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "description": "Gets or sets the job collection properties.",
                                                        "properties": {
                                                            "quota": {
                                                                "description": "Gets or sets the job collection quota.",
                                                                "properties": {
                                                                    "maxJobCount": {
                                                                        "description": "Gets or set the maximum job count.",
                                                                        "type": "integer"
                                                                    },
                                                                    "maxJobOccurrence": {
                                                                        "description": "Gets or sets the maximum job occurrence.",
                                                                        "type": "integer"
                                                                    },
                                                                    "maxRecurrence": {
                                                                        "description": "Gets or set the maximum recurrence.",
                                                                        "properties": {
                                                                            "frequency": {
                                                                                "description": "Gets or sets the frequency of recurrence (second, minute, hour, day, week, month).",
                                                                                "enum": [
                                                                                    "Minute",
                                                                                    "Hour",
                                                                                    "Day",
                                                                                    "Week",
                                                                                    "Month"
                                                                                ],
                                                                                "type": "string",
                                                                                "x-ms-enum": {
                                                                                    "modelAsString": false,
                                                                                    "name": "RecurrenceFrequency"
                                                                                }
                                                                            },
                                                                            "interval": {
                                                                                "description": "Gets or sets the interval between retries.",
                                                                                "type": "integer"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "sku": {
                                                                "description": "Gets or sets the SKU.",
                                                                "properties": {
                                                                    "name": {
                                                                        "description": "Gets or set the SKU.",
                                                                        "enum": [
                                                                            "Standard",
                                                                            "Free",
                                                                            "P10Premium",
                                                                            "P20Premium"
                                                                        ],
                                                                        "type": "string",
                                                                        "x-ms-enum": {
                                                                            "modelAsString": false,
                                                                            "name": "SkuDefinition"
                                                                        }
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "state": {
                                                                "description": "Gets or sets the state.",
                                                                "enum": [
                                                                    "Enabled",
                                                                    "Disabled",
                                                                    "Suspended",
                                                                    "Deleted"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": false,
                                                                    "name": "JobCollectionState"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "tags": {
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        },
                                                        "description": "Gets or sets the tags.",
                                                        "type": "object"
                                                    },
                                                    "type": {
                                                        "description": "Gets the job collection resource type.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "readOnly": true,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "JobCollections"
                ],
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scheduler/jobCollections": {
            "get": {
                "description": "Gets all job collections under specified resource group.",
                "operationId": "JobCollections_ListByResourceGroup",
                "parameters": [
                    {
                        "description": "The subscription id.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The resource group name.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The job collections have been successfully returned.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "nextLink": {
                                            "description": "Gets or sets the URL to get the next set of job collections.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "Gets the job collections.",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "description": "Gets the job collection resource identifier.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "location": {
                                                        "description": "Gets or sets the storage account location.",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "Gets or sets the job collection resource name.",
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "description": "Gets or sets the job collection properties.",
                                                        "properties": {
                                                            "quota": {
                                                                "description": "Gets or sets the job collection quota.",
                                                                "properties": {
                                                                    "maxJobCount": {
                                                                        "description": "Gets or set the maximum job count.",
                                                                        "type": "integer"
                                                                    },
                                                                    "maxJobOccurrence": {
                                                                        "description": "Gets or sets the maximum job occurrence.",
                                                                        "type": "integer"
                                                                    },
                                                                    "maxRecurrence": {
                                                                        "description": "Gets or set the maximum recurrence.",
                                                                        "properties": {
                                                                            "frequency": {
                                                                                "description": "Gets or sets the frequency of recurrence (second, minute, hour, day, week, month).",
                                                                                "enum": [
                                                                                    "Minute",
                                                                                    "Hour",
                                                                                    "Day",
                                                                                    "Week",
                                                                                    "Month"
                                                                                ],
                                                                                "type": "string",
                                                                                "x-ms-enum": {
                                                                                    "modelAsString": false,
                                                                                    "name": "RecurrenceFrequency"
                                                                                }
                                                                            },
                                                                            "interval": {
                                                                                "description": "Gets or sets the interval between retries.",
                                                                                "type": "integer"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "sku": {
                                                                "description": "Gets or sets the SKU.",
                                                                "properties": {
                                                                    "name": {
                                                                        "description": "Gets or set the SKU.",
                                                                        "enum": [
                                                                            "Standard",
                                                                            "Free",
                                                                            "P10Premium",
                                                                            "P20Premium"
                                                                        ],
                                                                        "type": "string",
                                                                        "x-ms-enum": {
                                                                            "modelAsString": false,
                                                                            "name": "SkuDefinition"
                                                                        }
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "state": {
                                                                "description": "Gets or sets the state.",
                                                                "enum": [
                                                                    "Enabled",
                                                                    "Disabled",
                                                                    "Suspended",
                                                                    "Deleted"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": false,
                                                                    "name": "JobCollectionState"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "tags": {
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        },
                                                        "description": "Gets or sets the tags.",
                                                        "type": "object"
                                                    },
                                                    "type": {
                                                        "description": "Gets the job collection resource type.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "readOnly": true,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "properties": {
                                        "nextLink": {
                                            "description": "Gets or sets the URL to get the next set of job collections.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "Gets the job collections.",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "description": "Gets the job collection resource identifier.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "location": {
                                                        "description": "Gets or sets the storage account location.",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "Gets or sets the job collection resource name.",
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "description": "Gets or sets the job collection properties.",
                                                        "properties": {
                                                            "quota": {
                                                                "description": "Gets or sets the job collection quota.",
                                                                "properties": {
                                                                    "maxJobCount": {
                                                                        "description": "Gets or set the maximum job count.",
                                                                        "type": "integer"
                                                                    },
                                                                    "maxJobOccurrence": {
                                                                        "description": "Gets or sets the maximum job occurrence.",
                                                                        "type": "integer"
                                                                    },
                                                                    "maxRecurrence": {
                                                                        "description": "Gets or set the maximum recurrence.",
                                                                        "properties": {
                                                                            "frequency": {
                                                                                "description": "Gets or sets the frequency of recurrence (second, minute, hour, day, week, month).",
                                                                                "enum": [
                                                                                    "Minute",
                                                                                    "Hour",
                                                                                    "Day",
                                                                                    "Week",
                                                                                    "Month"
                                                                                ],
                                                                                "type": "string",
                                                                                "x-ms-enum": {
                                                                                    "modelAsString": false,
                                                                                    "name": "RecurrenceFrequency"
                                                                                }
                                                                            },
                                                                            "interval": {
                                                                                "description": "Gets or sets the interval between retries.",
                                                                                "type": "integer"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "sku": {
                                                                "description": "Gets or sets the SKU.",
                                                                "properties": {
                                                                    "name": {
                                                                        "description": "Gets or set the SKU.",
                                                                        "enum": [
                                                                            "Standard",
                                                                            "Free",
                                                                            "P10Premium",
                                                                            "P20Premium"
                                                                        ],
                                                                        "type": "string",
                                                                        "x-ms-enum": {
                                                                            "modelAsString": false,
                                                                            "name": "SkuDefinition"
                                                                        }
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "state": {
                                                                "description": "Gets or sets the state.",
                                                                "enum": [
                                                                    "Enabled",
                                                                    "Disabled",
                                                                    "Suspended",
                                                                    "Deleted"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": false,
                                                                    "name": "JobCollectionState"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "tags": {
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        },
                                                        "description": "Gets or sets the tags.",
                                                        "type": "object"
                                                    },
                                                    "type": {
                                                        "description": "Gets the job collection resource type.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "readOnly": true,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "JobCollections"
                ],
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scheduler/jobCollections/{jobCollectionName}": {
            "delete": {
                "description": "Deletes a job collection.",
                "operationId": "JobCollections_Delete",
                "parameters": [
                    {
                        "description": "The subscription id.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The resource group name.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The job collection name.",
                        "in": "path",
                        "name": "jobCollectionName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The job collection has been successfully deleted."
                    },
                    "202": {
                        "description": "The delete operation for the job collection has been accepted and will complete asynchronously."
                    }
                },
                "tags": [
                    "JobCollections"
                ],
                "x-ms-long-running-operation": true
            },
            "get": {
                "description": "Gets a job collection.",
                "operationId": "JobCollections_Get",
                "parameters": [
                    {
                        "description": "The subscription id.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The resource group name.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The job collection name.",
                        "in": "path",
                        "name": "jobCollectionName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The job collection has been successfully returned.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "description": "Gets the job collection resource identifier.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "location": {
                                            "description": "Gets or sets the storage account location.",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Gets or sets the job collection resource name.",
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "Gets or sets the job collection properties.",
                                            "properties": {
                                                "quota": {
                                                    "description": "Gets or sets the job collection quota.",
                                                    "properties": {
                                                        "maxJobCount": {
                                                            "description": "Gets or set the maximum job count.",
                                                            "type": "integer"
                                                        },
                                                        "maxJobOccurrence": {
                                                            "description": "Gets or sets the maximum job occurrence.",
                                                            "type": "integer"
                                                        },
                                                        "maxRecurrence": {
                                                            "description": "Gets or set the maximum recurrence.",
                                                            "properties": {
                                                                "frequency": {
                                                                    "description": "Gets or sets the frequency of recurrence (second, minute, hour, day, week, month).",
                                                                    "enum": [
                                                                        "Minute",
                                                                        "Hour",
                                                                        "Day",
                                                                        "Week",
                                                                        "Month"
                                                                    ],
                                                                    "type": "string",
                                                                    "x-ms-enum": {
                                                                        "modelAsString": false,
                                                                        "name": "RecurrenceFrequency"
                                                                    }
                                                                },
                                                                "interval": {
                                                                    "description": "Gets or sets the interval between retries.",
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "sku": {
                                                    "description": "Gets or sets the SKU.",
                                                    "properties": {
                                                        "name": {
                                                            "description": "Gets or set the SKU.",
                                                            "enum": [
                                                                "Standard",
                                                                "Free",
                                                                "P10Premium",
                                                                "P20Premium"
                                                            ],
                                                            "type": "string",
                                                            "x-ms-enum": {
                                                                "modelAsString": false,
                                                                "name": "SkuDefinition"
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "state": {
                                                    "description": "Gets or sets the state.",
                                                    "enum": [
                                                        "Enabled",
                                                        "Disabled",
                                                        "Suspended",
                                                        "Deleted"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": false,
                                                        "name": "JobCollectionState"
                                                    }
                                                }
                                            }
                                        },
                                        "tags": {
                                            "additionalProperties": {
                                                "type": "string"
                                            },
                                            "description": "Gets or sets the tags.",
                                            "type": "object"
                                        },
                                        "type": {
                                            "description": "Gets the job collection resource type.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "description": "Gets the job collection resource identifier.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "location": {
                                            "description": "Gets or sets the storage account location.",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Gets or sets the job collection resource name.",
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "Gets or sets the job collection properties.",
                                            "properties": {
                                                "quota": {
                                                    "description": "Gets or sets the job collection quota.",
                                                    "properties": {
                                                        "maxJobCount": {
                                                            "description": "Gets or set the maximum job count.",
                                                            "type": "integer"
                                                        },
                                                        "maxJobOccurrence": {
                                                            "description": "Gets or sets the maximum job occurrence.",
                                                            "type": "integer"
                                                        },
                                                        "maxRecurrence": {
                                                            "description": "Gets or set the maximum recurrence.",
                                                            "properties": {
                                                                "frequency": {
                                                                    "description": "Gets or sets the frequency of recurrence (second, minute, hour, day, week, month).",
                                                                    "enum": [
                                                                        "Minute",
                                                                        "Hour",
                                                                        "Day",
                                                                        "Week",
                                                                        "Month"
                                                                    ],
                                                                    "type": "string",
                                                                    "x-ms-enum": {
                                                                        "modelAsString": false,
                                                                        "name": "RecurrenceFrequency"
                                                                    }
                                                                },
                                                                "interval": {
                                                                    "description": "Gets or sets the interval between retries.",
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "sku": {
                                                    "description": "Gets or sets the SKU.",
                                                    "properties": {
                                                        "name": {
                                                            "description": "Gets or set the SKU.",
                                                            "enum": [
                                                                "Standard",
                                                                "Free",
                                                                "P10Premium",
                                                                "P20Premium"
                                                            ],
                                                            "type": "string",
                                                            "x-ms-enum": {
                                                                "modelAsString": false,
                                                                "name": "SkuDefinition"
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "state": {
                                                    "description": "Gets or sets the state.",
                                                    "enum": [
                                                        "Enabled",
                                                        "Disabled",
                                                        "Suspended",
                                                        "Deleted"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": false,
                                                        "name": "JobCollectionState"
                                                    }
                                                }
                                            }
                                        },
                                        "tags": {
                                            "additionalProperties": {
                                                "type": "string"
                                            },
                                            "description": "Gets or sets the tags.",
                                            "type": "object"
                                        },
                                        "type": {
                                            "description": "Gets the job collection resource type.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "JobCollections"
                ]
            },
            "patch": {
                "description": "Patches an existing job collection.",
                "operationId": "JobCollections_Patch",
                "parameters": [
                    {
                        "description": "The subscription id.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The resource group name.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The job collection name.",
                        "in": "path",
                        "name": "jobCollectionName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The job collection has been successfully patched.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "description": "Gets the job collection resource identifier.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "location": {
                                            "description": "Gets or sets the storage account location.",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Gets or sets the job collection resource name.",
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "Gets or sets the job collection properties.",
                                            "properties": {
                                                "quota": {
                                                    "description": "Gets or sets the job collection quota.",
                                                    "properties": {
                                                        "maxJobCount": {
                                                            "description": "Gets or set the maximum job count.",
                                                            "type": "integer"
                                                        },
                                                        "maxJobOccurrence": {
                                                            "description": "Gets or sets the maximum job occurrence.",
                                                            "type": "integer"
                                                        },
                                                        "maxRecurrence": {
                                                            "description": "Gets or set the maximum recurrence.",
                                                            "properties": {
                                                                "frequency": {
                                                                    "description": "Gets or sets the frequency of recurrence (second, minute, hour, day, week, month).",
                                                                    "enum": [
                                                                        "Minute",
                                                                        "Hour",
                                                                        "Day",
                                                                        "Week",
                                                                        "Month"
                                                                    ],
                                                                    "type": "string",
                                                                    "x-ms-enum": {
                                                                        "modelAsString": false,
                                                                        "name": "RecurrenceFrequency"
                                                                    }
                                                                },
                                                                "interval": {
                                                                    "description": "Gets or sets the interval between retries.",
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "sku": {
                                                    "description": "Gets or sets the SKU.",
                                                    "properties": {
                                                        "name": {
                                                            "description": "Gets or set the SKU.",
                                                            "enum": [
                                                                "Standard",
                                                                "Free",
                                                                "P10Premium",
                                                                "P20Premium"
                                                            ],
                                                            "type": "string",
                                                            "x-ms-enum": {
                                                                "modelAsString": false,
                                                                "name": "SkuDefinition"
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "state": {
                                                    "description": "Gets or sets the state.",
                                                    "enum": [
                                                        "Enabled",
                                                        "Disabled",
                                                        "Suspended",
                                                        "Deleted"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": false,
                                                        "name": "JobCollectionState"
                                                    }
                                                }
                                            }
                                        },
                                        "tags": {
                                            "additionalProperties": {
                                                "type": "string"
                                            },
                                            "description": "Gets or sets the tags.",
                                            "type": "object"
                                        },
                                        "type": {
                                            "description": "Gets the job collection resource type.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "description": "Gets the job collection resource identifier.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "location": {
                                            "description": "Gets or sets the storage account location.",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Gets or sets the job collection resource name.",
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "Gets or sets the job collection properties.",
                                            "properties": {
                                                "quota": {
                                                    "description": "Gets or sets the job collection quota.",
                                                    "properties": {
                                                        "maxJobCount": {
                                                            "description": "Gets or set the maximum job count.",
                                                            "type": "integer"
                                                        },
                                                        "maxJobOccurrence": {
                                                            "description": "Gets or sets the maximum job occurrence.",
                                                            "type": "integer"
                                                        },
                                                        "maxRecurrence": {
                                                            "description": "Gets or set the maximum recurrence.",
                                                            "properties": {
                                                                "frequency": {
                                                                    "description": "Gets or sets the frequency of recurrence (second, minute, hour, day, week, month).",
                                                                    "enum": [
                                                                        "Minute",
                                                                        "Hour",
                                                                        "Day",
                                                                        "Week",
                                                                        "Month"
                                                                    ],
                                                                    "type": "string",
                                                                    "x-ms-enum": {
                                                                        "modelAsString": false,
                                                                        "name": "RecurrenceFrequency"
                                                                    }
                                                                },
                                                                "interval": {
                                                                    "description": "Gets or sets the interval between retries.",
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "sku": {
                                                    "description": "Gets or sets the SKU.",
                                                    "properties": {
                                                        "name": {
                                                            "description": "Gets or set the SKU.",
                                                            "enum": [
                                                                "Standard",
                                                                "Free",
                                                                "P10Premium",
                                                                "P20Premium"
                                                            ],
                                                            "type": "string",
                                                            "x-ms-enum": {
                                                                "modelAsString": false,
                                                                "name": "SkuDefinition"
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "state": {
                                                    "description": "Gets or sets the state.",
                                                    "enum": [
                                                        "Enabled",
                                                        "Disabled",
                                                        "Suspended",
                                                        "Deleted"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": false,
                                                        "name": "JobCollectionState"
                                                    }
                                                }
                                            }
                                        },
                                        "tags": {
                                            "additionalProperties": {
                                                "type": "string"
                                            },
                                            "description": "Gets or sets the tags.",
                                            "type": "object"
                                        },
                                        "type": {
                                            "description": "Gets the job collection resource type.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "JobCollections"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "description": "Gets the job collection resource identifier.",
                                        "readOnly": true,
                                        "type": "string"
                                    },
                                    "location": {
                                        "description": "Gets or sets the storage account location.",
                                        "type": "string"
                                    },
                                    "name": {
                                        "description": "Gets or sets the job collection resource name.",
                                        "type": "string"
                                    },
                                    "properties": {
                                        "description": "Gets or sets the job collection properties.",
                                        "properties": {
                                            "quota": {
                                                "description": "Gets or sets the job collection quota.",
                                                "properties": {
                                                    "maxJobCount": {
                                                        "description": "Gets or set the maximum job count.",
                                                        "type": "integer"
                                                    },
                                                    "maxJobOccurrence": {
                                                        "description": "Gets or sets the maximum job occurrence.",
                                                        "type": "integer"
                                                    },
                                                    "maxRecurrence": {
                                                        "description": "Gets or set the maximum recurrence.",
                                                        "properties": {
                                                            "frequency": {
                                                                "description": "Gets or sets the frequency of recurrence (second, minute, hour, day, week, month).",
                                                                "enum": [
                                                                    "Minute",
                                                                    "Hour",
                                                                    "Day",
                                                                    "Week",
                                                                    "Month"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": false,
                                                                    "name": "RecurrenceFrequency"
                                                                }
                                                            },
                                                            "interval": {
                                                                "description": "Gets or sets the interval between retries.",
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "sku": {
                                                "description": "Gets or sets the SKU.",
                                                "properties": {
                                                    "name": {
                                                        "description": "Gets or set the SKU.",
                                                        "enum": [
                                                            "Standard",
                                                            "Free",
                                                            "P10Premium",
                                                            "P20Premium"
                                                        ],
                                                        "type": "string",
                                                        "x-ms-enum": {
                                                            "modelAsString": false,
                                                            "name": "SkuDefinition"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "state": {
                                                "description": "Gets or sets the state.",
                                                "enum": [
                                                    "Enabled",
                                                    "Disabled",
                                                    "Suspended",
                                                    "Deleted"
                                                ],
                                                "type": "string",
                                                "x-ms-enum": {
                                                    "modelAsString": false,
                                                    "name": "JobCollectionState"
                                                }
                                            }
                                        }
                                    },
                                    "tags": {
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "description": "Gets or sets the tags.",
                                        "type": "object"
                                    },
                                    "type": {
                                        "description": "Gets the job collection resource type.",
                                        "readOnly": true,
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "description": "Gets the job collection resource identifier.",
                                        "readOnly": true,
                                        "type": "string"
                                    },
                                    "location": {
                                        "description": "Gets or sets the storage account location.",
                                        "type": "string"
                                    },
                                    "name": {
                                        "description": "Gets or sets the job collection resource name.",
                                        "type": "string"
                                    },
                                    "properties": {
                                        "description": "Gets or sets the job collection properties.",
                                        "properties": {
                                            "quota": {
                                                "description": "Gets or sets the job collection quota.",
                                                "properties": {
                                                    "maxJobCount": {
                                                        "description": "Gets or set the maximum job count.",
                                                        "type": "integer"
                                                    },
                                                    "maxJobOccurrence": {
                                                        "description": "Gets or sets the maximum job occurrence.",
                                                        "type": "integer"
                                                    },
                                                    "maxRecurrence": {
                                                        "description": "Gets or set the maximum recurrence.",
                                                        "properties": {
                                                            "frequency": {
                                                                "description": "Gets or sets the frequency of recurrence (second, minute, hour, day, week, month).",
                                                                "enum": [
                                                                    "Minute",
                                                                    "Hour",
                                                                    "Day",
                                                                    "Week",
                                                                    "Month"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": false,
                                                                    "name": "RecurrenceFrequency"
                                                                }
                                                            },
                                                            "interval": {
                                                                "description": "Gets or sets the interval between retries.",
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "sku": {
                                                "description": "Gets or sets the SKU.",
                                                "properties": {
                                                    "name": {
                                                        "description": "Gets or set the SKU.",
                                                        "enum": [
                                                            "Standard",
                                                            "Free",
                                                            "P10Premium",
                                                            "P20Premium"
                                                        ],
                                                        "type": "string",
                                                        "x-ms-enum": {
                                                            "modelAsString": false,
                                                            "name": "SkuDefinition"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "state": {
                                                "description": "Gets or sets the state.",
                                                "enum": [
                                                    "Enabled",
                                                    "Disabled",
                                                    "Suspended",
                                                    "Deleted"
                                                ],
                                                "type": "string",
                                                "x-ms-enum": {
                                                    "modelAsString": false,
                                                    "name": "JobCollectionState"
                                                }
                                            }
                                        }
                                    },
                                    "tags": {
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "description": "Gets or sets the tags.",
                                        "type": "object"
                                    },
                                    "type": {
                                        "description": "Gets the job collection resource type.",
                                        "readOnly": true,
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "The job collection definition.",
                    "required": true
                }
            },
            "put": {
                "description": "Provisions a new job collection or updates an existing job collection.",
                "operationId": "JobCollections_CreateOrUpdate",
                "parameters": [
                    {
                        "description": "The subscription id.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The resource group name.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The job collection name.",
                        "in": "path",
                        "name": "jobCollectionName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The job collection has been successfully updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "description": "Gets the job collection resource identifier.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "location": {
                                            "description": "Gets or sets the storage account location.",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Gets or sets the job collection resource name.",
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "Gets or sets the job collection properties.",
                                            "properties": {
                                                "quota": {
                                                    "description": "Gets or sets the job collection quota.",
                                                    "properties": {
                                                        "maxJobCount": {
                                                            "description": "Gets or set the maximum job count.",
                                                            "type": "integer"
                                                        },
                                                        "maxJobOccurrence": {
                                                            "description": "Gets or sets the maximum job occurrence.",
                                                            "type": "integer"
                                                        },
                                                        "maxRecurrence": {
[...]
